body {
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.container {
    display: flex;
}

.box {
    background-color: white;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    text-align: center;
}

.main {
    width: 300px;
    height: 400px;
}

.side {
    width: 150px;
    height: 400px;
}