body {
    margin: 0;
    font-family: 'Times New Roman';
    background-color: grey;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 28px;
}

.container h1 {
    margin: 0;
    text-align: center;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;  
}

nav a {
    display: inline-block;
    padding: 12px 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: black;
}

#main {
    display: flex;
    justify-content: center;
}

.box {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    box-shadow: white;
}

.box.main {
    flex: 2;
    font-size: 30px;
}

.box.side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.main {
    background-color: black;
    color: white;
    text-align: center;
}

